.superInput {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 200px;
    color: #ccc;
}

.errorInput {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 200px;
    color: #ccc;
    background-color: red;
}

.error {
    color: red;
}